
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>hello <%= @user.email %></h1>
    <p>
      You have asked to be reminded of the event, <%= @meeting.name %> at <%= @meeting.start_time %>
      your username is: <%= @user.email %>.<br>
    </p>
    <p>    </p>
  </body>
</html> 