<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
      <%= link_to "View Meeting", "/meetings/#{meeting.id}" %>

    </div>
  <% end %>
<% end %>

